body {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#main {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
    font-family: 'sans-serif';
    font-weight: 600;
    color: #5a5a5a;
}

.messagelist {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    position: relative;
}

.messagelist li {
    padding: 10px
}

.messagelist a {
    font-size: 25px;
    margin-left: 15px;
    vertical-align: -4px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

.messagelist li.success {
    background-color: #18b7424f;
    padding: 10px
}

.messagelist li.error {
    background-color: #af12124f;
    padding: 10px;
    padding-right: 60px;
}

.messagelist li.info {
    background-color: aliceblue;
}

.navbar {
    margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606c76;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ab5dda;
}


.article_container article {
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px 30px;
    max-width: 750px;
    margin: 0 auto;
}
#blog_page .article_container article {
    display: block;
}

.article_container article .child {
    flex: 1 1 0;
}

.article_container article.sep_down {
    margin-bottom: 10px;
}

.article_container article.sep_down:last-child {
    margin-bottom: 0;
}

.article_container article header {
    margin: 15px 0 40px;
}

.article_container article header > p.heading {
    font-size: 36px;
    text-transform: capitalize;
    word-spacing: 6px;
    text-align: center;
}

.article_container article header > p.heading > a {
    color: #1a476d;
    font-weight: 600;
    /*font-family: sans-serif;*/
}

.article_container article header > h1.heading {
    font-size: 36px;
    text-transform: capitalize;
    word-spacing: 6px;
    /*padding-top: 25px ;*/
    text-align: center;
}

.article_container article header > h1.heading > a {
    color: #1a476d;
    font-weight: 600;
    font-family: sans-serif;
}

.views_count:before {
    content: '';
    /*margin-right: 5px;*/
    font-size: 15px;
    vertical-align: -1px;
    color: inherit;
}

.article_container article header div {
    text-align: center;
    padding: 10px 5px;
    /*margin: 20px 0;*/
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    /*border-top: 2px solid #636363;*/
    /*border-bottom: 2px solid #636363;*/
}

.article_container article header div.wrap_content {
    font-size: 15px;
    font-family: sans-serif;
    color: #444;
    font-weight: normal;
}

.article_container article header div > p {
    font-size: 14px;
}

.article_container article header div > p > label {
    font-weight: bold;
}

._sep {
    font-weight: normal;
}

.article_container article header div p span.published_on {
    font-weight: 600;
    color: #444;
}

.article_container article header div p span > span {
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 6px;
}

.article_container article header div p a {
    /*color: #6283a5*/
    color: #444;
}

.article_container article header div p a:hover {
    color: #4a4a4a
}

.article_container article section {
    position: relative;
    margin-right: 20px;
}

.article_container article section > div > div {
    font-size: 16px;
    text-align: center;
}

.article_container article section > div > div > img {
    max-height: 400px;
}
.article_container article header > div > div.wrap_content {
    margin: 15px 0;
    line-height: 27px;
}


@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    #main {
        padding: 20px 0;
    }
}