{% extends 'base.html' %}
{% block css %}
    {{ block.super }}
    <style>
    .index_page{max-width: 500px; margin: 0 auto;}
    .index_page ol{}
    .index_page ol li{text-align: left}
    </style>
{% endblock css %}
{% block content %}
    <div class="index_page">
        <h1>Django + DRF Blog Demo</h1>
        <h3>In this Blog Application:</h3>
        <ol class="column">
            <li>Users can log in</li>
            <li>Users can create Blog</li>
            <li>Users can comment on blogs</li>
            <li>Blogs will have media files</li>
            <li>Blogs will have many categories</li>
            <li>There is a separate category model</li>
        </ol>
    </div>
{% endblock content %}